@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: #fff;
  padding: 50px 14px;
	font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  min-height: 100vh;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: rgb(123, 162, 112);
}

.weather {
	max-width: 600px;
  height: 435px;
	margin: 0px auto;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
}

.search {
  position: relative;
}

.search__input {
  width: 100%;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  border-bottom: 1px solid #000;
}

.search__input>input {
  width: 100%;
  height: 100%;
}


.search__btn {
  min-width: 22px;
  min-height: 22px;
  position: absolute; 
  right: 15px;
  border-radius: 5px;
  top: 5px;
  transition: 0.1s;
}

.search__btn:hover {
  background-color: rgb(220, 220, 220);
}

.search__btn:active {
  background-color: rgb(182, 182, 182);
}

.main {
  width: 100%;
  flex-grow: 1;
  display: flex;
}

.main__side {
  max-width: 50%;
  flex-grow: 1;
}

.locations {
  display: flex;
  flex-direction: column;
}

.locations__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding: 33px 18px 6px;
  border-bottom: 1px solid #000;
}

.locations__container {
  padding: 35px 18px;
  flex-grow: 1;
  overflow: scroll;
  height: 238px;
}

.location {
  font-size: 24px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px;
}

.locations__container .location {
  cursor: pointer;
}

.locations__container .location:hover {
  background-color: rgba(92, 92, 92, 0.112);
}

.location__delete {
  width: 19px;
  height: 19px;
  background-image: url('../img/icons8-delete-64.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.location__delete:hover {
  width: 20px;
  height: 20px;
}

.tabs {
  height: 100%;
  border-right: 1px solid #000;
  display: flex;
  flex-direction: column;
}

.tabs__nav {
  width: 100%;
  display: flex;
  flex-grow: 0;
}

.tabs__btn {
  border: 1px solid #000;
  margin-left: -1px;
  margin-bottom: -1px;
  flex-shrink: 1;
  width: 34%;
  font-size: 18px;
  transition: 0.1s;
}

.tabs__btn:nth-child(3){
  border-right: none;
  padding: 12px 1px;
}

.tabs__btn:hover {
  background-color: rgba(0, 0, 0, 0.399);
}

.tabs__btn:active {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

.tabs__btn.active {
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
}

.tabs__content {
  flex-grow: 1;
  display: none;
}

.tabs__content.active {
  display: flex;
}

.now {
  flex-direction: column;
  justify-content: space-between;
}

.now__celsius {
  font-size: 70px;
  margin-top: 20px;
  margin-left: 23px;
}

.now__img {
  width: 78px;
  align-self: center;
}

.now__bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
  padding: 37px 26px 17px 12px;
}

.now__like {
  width: 22px;
  height: 22px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.now__like:hover {
  background-image: url("../img/heart_hover.svg");
}

.now__like.active {
  transition: 0.2s;
  background-image: url("../img/heart_active.svg");
}

.details {
  flex-direction: column;
  padding-left: 17px;
}

.details .location {
  margin: 33px 0 42px;
}

.details__content {
  line-height: 28px;
}

.details__item {
  margin-bottom: 13px;
}

.forecast {
  padding: 33px 18px 0px;
  flex-direction: column;
}

.forecast__cards {
  overflow: scroll;
  height: 270px;
}

.forecast__card {
  margin-bottom: 9px;
  padding: 6px 10px 13px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  font-size: 18px;
}

.card__top {
  display: flex;
  justify-content: space-between;
}

.card__bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.card__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.card__img {
  width: 31px;
}

.card__temperature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .now__location {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .location {
    font-size: 12px;
    font-weight: bold;
  }
  .tabs__btn {
    font-size: 12px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .now__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .details {
    font-size: 15px;
  }

  .details .location {
    margin: 5px 0 15px;
    font-size: 15px;
  }
  .card {
    font-size: 12px;
  }
}